<tr>
    <td class="content-wrapper" style="padding-left:24px;padding-right:24px">
        <br>
        <div class="title-copy" style="font-family:Helvetica, Arial, sans-serif;font-size:10px;line-height:17px;text-align:left;color:#333333;margin-bottom:10px;">
            本メールは送信専用のアドレスです。配信停止はメール下部のリンクよりお願い致します。</div>
        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550;padding-bottom:10px;">
            <%= @result.email %>様の適職診断テスト結果</div>
        <div class="title-copy" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:17px;text-align:left;color:#333333">
            あなたは
            タイプです！<br>
            タイプにおすすめのお仕事はこちら！</div>
    </td>
</tr>