<tr>
    <td class="container-padding footer-text" align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#444;padding-left:24px;padding-right:24px">
        <br><br>
        ◆メール配信の停止を希望される方は<a href="https://www.717450.net/mail-magazine/">こちら</a><br>
        ※配信停止処理は平日に行うため、ご連絡を差し上げるまでにお時間を頂く場合が御座います。ご了承ください。<br>
        <br>
        ※本メルマガは、工場求人ナビにご登録いただいた<br>
        複数の方に配信しているもので、採用を確約するものではありません。<br>
        ※こちらのメールアドレスは送信専用のため、<br>
        返信されましてもご対応ができません。配信停止は上記リンクよりお願い致します。<br>
        ※一部コンテンツにおいて、携帯電話(ガラケー)から<br>
        閲覧ができない場合があります。<br>
        <br><br>

        日総工産株式会社<br>
        〒222-0033 神奈川県横浜市港北区新横浜1-4-1 日総工産新横浜ビル<br>
        <br>
        ≪工場求人ナビ≫<br>
        <a href="https://www.717450.net/" target="_blank">https://www.717450.net/</a>
        <br><br><br>
    </td>
</tr>