<tr>
    <td class="container-padding footer-text" align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#444;padding-left:24px;padding-right:24px">
        <br><br>
        日総工産株式会社<br>
        〒222-0033 神奈川県横浜市港北区新横浜1-4-1 日総工産新横浜ビル<br>
        <br>
        ≪工場求人ナビ≫<br>
        <a href="https://www.717450.net/" target="_blank">https://www.717450.net/</a>
        <br><br><br>
    </td>
</tr>