<tr>
    <td class="container-padding header" align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;padding-bottom:12px;padding-left:24px;padding-right:24px;">
        <img src="https://www.717450.net/assets/images/logo.svg" alt="工場求人ナビロゴ" width="130px">
    </td>
</tr>